@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border-top-color: #80509F;                       
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
     